SUPABASE_URL=https://lrbdghsxfxthybafsmkw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxyYmRnaHN4Znh0aHliYWZzbWt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwMTI2OTgsImV4cCI6MjEwNjU4ODY5OH0.-lMym8n3AoaDNDkGKWYQ99Rkzqdw6y1Y4pyfqpo8s04
